<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    
    {{ partialCached "head/inline-styles.html" . }}
  </head>
  <body>
    <div class="container {{ if .IsHome }}home{{ else }}{{ .Type }}{{ end }}">
      <div class="container-inner">
        {{ block "main" . }}{{ end }}
      </div>
    </div>
    {{ partialCached "footer/inline-scripts.html" . }}
  </body>
</html>
